body.light {
  background-color: var(--main-bg-light);
  color: var(--text-color-light);
}

body.dark {
  background-color: var(--main-bg-dark);
  color: var(--text-color-dark);
}

.product-page {
  background-color: var(--main-bg-light);
}

.page-title {
  text-align: center;
  color: var(--text-color-light);
  margin-bottom: 20px;
  margin-top: 0px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  max-height: calc(100vh - 150px);
  overflow-y: scroll;
  padding-right: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.product-grid::-webkit-scrollbar {
  display: none;
}

.product-card {
  background-color: var(--card-bg-light);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 5px 5px 10px var(--shadow-dark-light), -5px -5px 10px var(--shadow-light-light);
  text-align: center;
  transition: transform 0.3s ease;
  height: 350px;
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.product-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.product-title {
  font-size: 1.2rem;
  color: var(--text-color-light);
  margin: 10px 0;
}

.product-price {
  color: var(--text-color-light);
  font-weight: bold;
  margin: 5px 0;
}

.product-category {
  color: var(--shadow-dark-light);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.btn {
  background-color: var(--btn-hover);
  color: var(--text-color-light);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1;
  margin: 0 5px;
}

body.dark .product-page {
  background-color: var(--main-bg-dark);
}

body.dark .page-title {
  color: var(--text-color-dark);
}

body.dark .product-card {
  background-color: var(--card-bg-dark);
  box-shadow: 5px 5px 10px var(--shadow-dark-dark), -5px -5px 10px var(--shadow-light-dark);
}

body.dark .product-title {
  color: var(--text-color-dark);
}

body.dark .product-price {
  color: var(--text-color-dark);
}

body.dark .product-category {
  color: var(--shadow-light-dark);
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91vh;
  background-color: var(--main-bg-light);
}

.loader {
  border: 8px solid var(--shadow-light-light);
  border-top: 8px solid var(--btn-hover);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.2s linear infinite;
}

body.dark .loader-container {
  background-color: var(--main-bg-dark);
}

body.dark .loader {
  border: 8px solid var(--shadow-light-dark);
  border-top: 8px solid var(--text-color-dark);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}