:root {
  --main-bg-light: #d0e7ff;
  --card-bg-light: #a8d1ff;
  --shadow-dark-light: #6aa6d1;
  --shadow-light-light: #ffffff;
  --text-color-light: #1b3a57;

  --main-bg-dark: #102d45;
  --card-bg-dark: #1b4a6b;
  --shadow-dark-dark: #0a1d2f;
  --shadow-light-dark: #315b7d;
  --text-color-dark: #b0d4f1;

  --btn-hover: #73b3ff; 
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.light {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--main-bg-light);
  transition: background-color 0.3s ease;
}

.dark {
  background-color: var(--main-bg-dark);
}